{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit page {{title}}
{% endblock %}

{% block body %}
    <h2> Edit page {{title}}: </h2>
    <form action="{% url 'save_edited' %}" method="post">
        {% csrf_token %}
        <label for="title">Title of the page:</label>
        <input type="text" id="title" name="title" value='{{title}}' required> <br>

        <label for="page_body">Body of the page:</label> <br>
        <textarea id="page_body" name="page_body" required>{{body}}</textarea> <br>

        <input type="submit" value="Submit">
    </form>
{% endblock %}