{% extends "auctions/layout.html" %}

{% block body %}
    {% if message%}
        {{ message }}
    {% endif %}

    <h2>{{ object.title }}</h2>
    <p>{{ object.description }}</p>
    <p>Starting bid: {{ object.starting_bid }}$</p>
    {% if object.current_price %}
        <h4>Current price: {{ object.current_price }}</h4>
    {% else %}
        <h4>No bids yet. Be the first one to make it!</h4>
    {% endif %}
    {% if object.highest_bidder %}
        <h3>Highest bidder: {{ object.highest_bidder }}</h3>
    {% endif %}

    {% if user.is_authenticated %}
        <form action="{% url 'new_bid' object.pk %}" method='post'>{% csrf_token %}
            <p><label for="new_bid">My bid:</label>
            <input id="new_bid" type="text" name="bid_value">$<input type="submit" value="Bid"></p>
        </form>
    {% endif %}

    {% if object.image_url %}
        <img src='{{ object.image_url }}'>
    {% else %}
        <p>No image provided</p>
    {% endif %}
    {% if object.category %}
        <p>Categories:</p>
        <p>{{ listing.category }}</p>
    {% else %}
        <p>No categories provided</p>
    {% endif %}
    <p>Created by: {{ object.created_by }}</p>
    <p>Created at: {{ object.created_at }}</p>
    {% if user.is_authenticated %}
        {% if object in user.watchlist.items.all %}
            <a href="{% url 'remove_from_watchlist' object.pk %}">Remove from my watchlist</p>
        {% else %}
            <a href="{% url 'add_to_watchlist' object.pk %}">Add to my watchlist</p>
        {% endif %}
    {% endif %}
{% endblock %}