html {
    font-family: arial;
}

.top-link {
    text-align: right;
    font-size: small;
    margin: 20px;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: gray;
    text-decoration: underline;
}

a + a {
    margin-left: 12px;
}

.google-logo {
    display: block;
    margin: 120px auto 30px;
}

.search-field {
    outline: none;
    border: 1px solid #d9d9d9;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
    width: 500px;
    height: 35px;
    padding: 3px 40px 3px 40px;
    font-size: 16px;
    color: #333333;
    background: url("magnifying-glass.png") no-repeat;
    background-size: auto 38%;
    background-position: 12px;
}

.search-field:hover {
    box-shadow: 2px 2px 6px #d9d9d9, -2px -2px 6px #d9d9d9;
    border: 1px solid transparent;
}

.buttons {
    margin: 25px;
    display: flex;
    justify-content: center;
}

.submit-buttons {
    outline: none;
    background-color: #f2f2f2;
    border: 1px solid;
    color: #666666;
    font-size: 15px;
    margin: 0px 5px 0px;
    padding: 10px 12px 10px 12px;
    border-color: white;
    border-radius: 4px;
}

.submit-buttons:hover {
    border: 1px solid;
    border-color: #bfbfbf;
    color: #262626;
}

.submit-buttons:active {
    border: 1px solid;
    border-color: #668cff;
    color: #262626;
}

#top-link-and-logo {
    background-color: #e6e6e6;
    margin: 0px 0px 0px 0px;
}

.small-google-logo {
    height: 50px;
    width: auto;
}